/* mega menu */
.has-dropdown .nav-link:before {
    content: "";
    width: calc(100% + 44px);
    height: 30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -13px;
    top: 100%;
    pointer-events: none;
}
.nav-item:hover .mega-menu {
    opacity: 1;
    pointer-events: auto;
}
.nav-item:hover .mega-overlay {
    opacity: 1; 
}
.nav-item.has-dropdown:hover .nav-link:before {
    pointer-events: auto;
}

/* mobile sidebar */
.mobile-sidebar.active .mobile-nav-list {
    opacity: 1;
    transform: translatey(0px);
}
.mobile-nav-toggle[aria-expanded="true"] .mobile-chev {
    transform: rotate(180deg);
}
.mobile-sub-item:nth-child(even) {
    margin-left: -1px;
}

/* tab section */
.tab-button.active .tab-button-before,
.tab-button:hover .tab-button-before {
    opacity: 1;
}

/* testimonial */
.testimonial-read-more:hover .test-read-more-arr {
    transform: rotate(45deg)
}

/* faq accordion */
.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/* footer menu */
.footer-acc-item.active .footer-acc-body {
    padding-bottom: 16px;
}

.footer-acc-item.active .footer-acc-head p {
    opacity: 1 !important;
}

.footer-acc-body .foo-list-item:first-child {
    margin-top: 0;
}
