/* tab section */
.tab-button.active .tab-button-before,
.tab-button:hover .tab-button-before {
    opacity: 1;
}

/* faq accordion */
.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/* footer menu */
.footer-acc-item.active .footer-acc-body {
    padding-bottom: 16px;
}

.footer-acc-item.active .footer-acc-head p {
    opacity: 1 !important;
}

.footer-acc-body .foo-list-item:first-child {
    margin-top: 0;
}
